
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@model HomeBlogItem
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col-lg-6 ml-5">
                <form method="post">
                    <div class="form-group">

                        <div class="form-group">
                            <label  asp-for="Title" for="Title">Title</label>

                            <textarea asp-for="Title" id="Title" name="Title" class="form-control"></textarea>
                            <span asp-validation-for="Title"></span>
                        </div>
                        <div class="form-group">
                            <label  asp-for="Content" for="Content">Content</label>
                            <textarea  asp-for="Content" id="Content" name="Content" class="form-control"></textarea>
                            <span asp-validation-for="Content"></span>
                        </div>
                        <div class="form-group">
                            <label  asp-for="Label" for="Label">Label</label>
                            <textarea  asp-for="Label" id="Label" name="Label" class="form-control"></textarea>
                            <span asp-validation-for="Label"></span>
                        </div>

                        <div class="form-group">
                            <label  asp-for="Photo" for="Photo">Photo</label>
                            <textarea  asp-for="Photo" id="Photo" name="Photo" class="form-control"></textarea>
                            <span asp-validation-for="Photo"></span>
                        </div>

                        <button type="submit" class="btn btn-primary">Əlavə et</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
