<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/control/css/sb-admin-2.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/454409f9ac.js" crossorigin="anonymous"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>

    @RenderSection("Scripts",required:false)
</body>
</html>
